/WTF_ShippingApp/bin
/WTF_ShippingApp/obj
/WTF_ShippingApp/app.config

/WTFClassLibrary/bin
/WTFClassLibrary/obj
/WTFClassLibrary/app.config
/WTFClassLibrary/Properties/Settings.settings

!/packages
/packages/*
!/packages/repositories.config