<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <connectionStrings>
    <add name="ExtraSytelineTablesConnectionString" connectionString="Data Source=ERPSQLSVR;Initial Catalog=ExtraSytelineTables;Persist Security Info=True;User ID=WTFApp;Password=***Removed***" providerName="System.Data.SqlClient" />
    <add name="SL8_WTF_DataBaseConnectionString" connectionString="Data Source=ERPSQLSVR;Initial Catalog=WTF_App;Connection Timeout=0;Persist Security Info=True;User ID=WTFApp;Password=***Removed***" providerName="System.Data.SqlClient" />
    <add name="ExtraSytelineTableDb" connectionString="metadata=res://*/ExtraSytelineTables.csdl|res://*/ExtraSytelineTables.ssdl|res://*/ExtraSytelineTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERPSQLSVR;initial catalog=ExtraSytelineTables;persist security info=True;user id=WTFApp;password=***Removed***;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--
    <add name="ExtraSytelineTablesConnectionString"
        connectionString="Data Source=TRANSPARENT\SQL2008;Initial Catalog=ExtraSytelineTables;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="ExtraSytelineTablesConnectionString"
        connectionString="Data Source=WTSBS;Initial Catalog=extrasytelinetables;Persist Security Info=True;User ID=wtfApps;Password=jakel"
        providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    <requiredRuntime version="v4.0.20506" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>
    <add key="JobPrefixes" value="B,PRE"/>
  </appSettings>
</configuration>